<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Payment</title>
</head>
<body>

<h1>Edit Payment</h1>
<p>
    <a href="/">Payment List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-payment}" th:object="${payment}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update Payment"></td>
        </tr>
    </table>
</form>

</body>
</html>